body {
  margin: 0 auto;
  max-width: 370px;
  padding-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}
header img {
  width: 198px;
}
header div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

main .graphic {
  position: absolute;
  left: 220px;
  overflow: hidden;
  width: 21.1rem;
}
main .image-1 {
  width: 25rem;
}
main .container-1 {
  padding-top: 5rem;
}
main .container-1 p {
  color: #ff3998;
  font-size: 20px;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
main .container-1 .flex-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .container-1 h1 {
  font-size: 50px;
}
main .container-1 i {
  width: max-content;
  text-align: justify;
  font-size: 23px;
  font-style: normal;
  color: #555555;
}
main .container-1 button {
  margin-top: 2.5rem;
  width: 11rem;
  line-height: 60px;
  border: 5px solid;
  border-radius: 30px;
  background-color: #fff;
  font-style: normal;
  border-color: pinkgreen;
}
main .container-2 {
  background-image: url(background.svg);
  margin-top: 100px;
  padding-top: 5rem;
  padding-bottom: 25px;
  width: 100%;
}
main .container-2 h2 {
  color: #111111;
  font-style: normal;
  font-size: 40px;
}
main .container-2 i {
  font-size: 20px;
  font-style: normal;
}
main .container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: -10px;
  padding-top: 50px;
  gap: 15px;
}
main .container-3 img {
  width: 80%;
}
main .container-4 {
  padding-top: 30px;
}
main .container-4 h2 {
  font-size: 40px;
  color: #111111;
  font-style: normal;
}
main .container-4 i {
  font-size: 20px;
  font-style: normal;
  color: #555555;
  word-spacing: 4px;
  line-height: 30px;
}
main .container-4 i a {
  color: #555555;
}
main .container-5 .flex-2 {
  display: flex;
  justify-content: space-between;
  background-color: #EEEEEE;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
  margin-top: -4px;
}
